<!doctype html>
<html>
  <head>
    <title>Anomaly Detection</title>
  </head>
  <body>
    <h1>Anomaly Detection - Univariate</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    <a href="https://gofile.io/d/Ki94ou" download> Click Here for Sample File Download </a>
    <h2> GitHub Link for Entire Data </h2>
    <a href="https://github.com/selvasundar93/AI_PdM_File_Reader/tree/main/Data"> GitHub Link </a>
  </body>
</html>